.sombra{
    box-shadow:0 2px 2px #efefef;
}
ul{
    list-style-type: none;
}

.barra-vermelha:after{ 
        display: block;
        height: 2px;
        background-color:#f70000;
        content: " ";
        width: 400px;
        margin: 0 auto;
        margin-top: 3px;
        text-align: center;
        padding: 0;
       
    
}